.photo-grid{
    margin: 0 auto;
    padding: 50px 10px 50px 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    justify-content: center;
    background-color: white;
}
@media screen and (max-width: 888px) {
    .photo-grid{
        padding: 20px 0 0 0;
    }
}
@media screen and (max-width: 450px) {
    .photo-grid{
        grid-template-columns: 100%;
    }
}