.footer__info{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}
@media screen and (max-width: 550px) {
    .footer__info{
        grid-column: span 2;
        align-items: center;
    }
}