.popup__form{
    margin: 0;
    padding: 0 25px 0 25px;
    display: flex;
    flex-direction: column;
    border: none;
    box-sizing: border-box;
}
@media screen and (max-width: 550px) {
    .popup__form{
        padding: 0px 22px 0 22px;
    }
}