.header__elements{
    margin: 0;
    padding: 0;
    display: flex;
    gap: 30px;
}
@media screen and (max-width: 670px) {
    .header__elements{
        gap: 15px;
    }
}
@media screen and (max-width: 500px) {
    .header__elements{
        gap: 10px;
    }
}