.mainpage__subtitle{
    margin: 0;
    padding: 5px 15px 0 15px;
    color: white;
    font-size: 25px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0em;
}
@media screen and (max-width: 1100px) {
    .mainpage__subtitle{
        font-size: 20px;
        line-height: 23px;
    }
}
@media screen and (max-width: 500px) {
    .mainpage__subtitle{
        font-size: 13px;
        line-height: 15px;
    }
}