.footer__heading{
    margin: 0;
    padding: 0 0 15px 0;
    color: white;
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0em;
}
@media screen and (max-width: 750px) {
    .footer__heading{
        font-size: 12px;
        line-height: 15px;
        padding-bottom: 8px;
    }
    
}