.information{
    padding: 50px 0 0 0;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, 390px);
    column-gap: 20px;
    row-gap: 100px;
    background-color: white;
    justify-content: center;
    position: relative;
}
@media screen and (max-width: 888px) {
    .information{
        grid-template-columns: repeat(auto-fit, 300px);
        gap: 35px;
        padding-top: 20px;
    }
}
@media screen and (max-width: 650px) {
    .information{
        grid-template-columns: repeat(auto-fit, 200px);
        gap: 20px;
    }
    
}