.mainpage__title{
    margin: 0;
    padding:0;
    /* padding: 45px 15px 40px 15px; */
    font-size: 60px;
    font-weight: 800;
    line-height: 65px;
    letter-spacing: 0em;
    text-align: center;
    color: white;
    text-transform: uppercase;
    z-index: 2;

}