.button-popup{
    margin: 0;
    padding: 0;
    border: none;
    position: fixed;
    z-index: 5;
    background-color: transparent;
    bottom: 12%;
    left: calc(((100vw - 1280px)/2) + 20px);
}
@media screen and (max-width: 1280px) {
    .button-popup{
        left: 20px;
    }
}